.section-cart {
	padding: 20px;

	@include min-screen(768px) {
		padding: 40px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__items {
		display: grid;
		gap: 37px;

		@include min-screen(768px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@include min-screen(1024px) {
			grid-template-columns: auto;
		}
	}
}
