.bill-step {
	&__payment-methods {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		@include min-screen(768px) {
			margin-bottom: 39px;
			padding: 0 30px;
		}
	}

	&__payment-method {
		display: flex;
		align-items: center;

		&:not(:last-of-type) {
			margin-right: 22px;
		}

		@include min-screen(768px) {
			&:not(:last-of-type) {
				margin-right: 82px;
			}
		}
	}

	&__agreements {
		margin-bottom: 46px;
		color: $c-gray;
		font-size: 14px;
		line-height: 16px;

		@include min-screen(768px) {
			padding: 0 30px;
			margin-bottom: 41px;
		}
	}

	&__agreement + &__agreement {
		margin-top: 12px;
	}

	&__doc-link {
		color: $c-black;
		transition: opacity 0.15s ease-out;

		&:hover {
			opacity: 0.7;
		}
	}
}
