.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	padding: 26px 0 16px;
	background-color: $c-white;
	border-bottom: 1px solid $c-light-gray;

	.container {
		display: flex;
		align-items: center;
	}

	&__logo {
		display: inline-block;
		margin-right: auto;
	}

	&__logo-icon {
		width: 89px;
		height: 32px;
	}

	&__search {
		display: inline-block;
		margin: 0 26px 0 auto;
	}

	&__search-icon {
		width: 24px;
		height: 24px;
	}

	&__cart {
		position: relative;
		display: flex;
		justify-content: flex-start;
		width: 30px;
		height: 27px;
		margin-right: 27px;

		@include min-screen(1024px) {
			margin-right: unset;
		}
	}

	&__cart-icon {
		width: 26px;
		height: 25px;
	}

	&__cart-products-count {
		position: absolute;
		top: -4px;
		right: 0;
		border-radius: 50%;
		background-color: $c-accent;
		min-width: 13px;
		min-height: 13px;
		transform: scale(0);
		color: $c-white;
		font-size: 10px;
		line-height: 1.2;
		padding: 0 2px;

		&._visible {
			transform: scale(1);
		}
	}

	&__mobile-menu-button {
		&._opened {
			.header__mobile-menu-button-line:nth-of-type(2) {
				opacity: 0;
			}

			.header__mobile-menu-button-line:nth-of-type(1) {
				transform: translateY(10px) rotate(45deg);
			}

			.header__mobile-menu-button-line:nth-of-type(3) {
				transform: translateY(-10px) rotate(-45deg);
			}
		}

		@include min-screen(1024px) {
			display: none;
		}
	}

	&__mobile-menu-button-line {
		display: block;
		width: 29px;
		height: 2px;
		transform-origin: center;
		background-color: $c-black;
		transition: transform 150ms ease-out, opacity 150ms ease-out;

		&:not(:last-of-type) {
			margin-bottom: 8px;
		}
	}
}
