.main {
	&__container {
		display: flex;
		justify-content: space-between;
		min-height: calc(100vh - 82px);
		padding-top: 82px;

		@include min-screen(768px) {
			padding-right: unset;
		}
	}

	&__cart {
		position: relative;
		border-left: 1px solid $c-light-gray;
		overflow-y: auto;
		align-self: stretch;
	}

	&__purchase-wizard {
		flex-grow: 1;
	}
}
