.main {
	&__container {
		display: flex;
		justify-content: space-between;
		min-height: calc(100vh - 82px);
		padding-top: 82px;

		@include min-screen(1024px) {
			padding-right: unset;
		}
	}

	&__cart {
		position: fixed;
		top: 82px;
		left: 0;
		right: 0;
		bottom: 0;
		border-left: 1px solid $c-light-gray;
		overflow-y: auto;
		align-self: stretch;
		background-color: $c-white;
		transition: transform 0.5s ease-out;
		transform: translateY(-120%);

		@include min-screen(1024px) {
			top: unset;
			left: unset;
			position: relative;
		}

		@include min-screen(1650px) {
			border-right: 1px solid $c-light-gray;
		}

		&._opened {
			transform: translateY(0);
		}
	}

	&__purchase-wizard {
		flex-grow: 1;
	}
}
