.button {
	@extend .transition-active;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $c-accent;
	height: 40px;
	cursor: pointer;
	font-size: 14px;
	line-height: 1.71;
	padding: 8px 30px;
	color: $c-white;
	border-radius: 3px;

	&:hover {
		opacity: 0.7;
		transition: none;
	}

	&:active {
		background-color: rgba(#000, 0.25);
	}

	&._transparent {
		color: $c-black;
		background-color: transparent;
		border: 1px solid $c-light-gray;
	}
}
