.counter {
	width: 85px;
	display: flex;
	align-items: center;

	&__increase,
	&__decrease {
		width: 20px;
		height: 20px;
		border: 1px solid $c-black;
		border-radius: 50%;
	}

	&__count {
		text-align: center;
		flex-grow: 1;
	}
}
