.text-input {
	display: block;
	background-color: $c-medium-gray;
	border: none;
	padding: 8px 10px;
	width: 100%;
	border-radius: 3px;
	font-size: 14px;
	line-height: 1.71;
	color: $c-cold-gray;

	&__label {
		display: flex;
		align-items: center;
	}

	&__tooltip {
		margin-left: 5px;
	}

	&__wrapper {
		&._incorrect {
			position: relative;

			&::after {
				content: attr(data-error);
				position: absolute;
				bottom: 0;
				max-width: 100%;
				left: 10px;
				transform: translateY(calc(100% + 3px));
				font-size: 12px;
				white-space: nowrap;
				color: $c-error;
			}
		}
	}

	&._incorrect {
		outline: 2px solid $c-error;
	}
}
