.product-card {
	display: flex;

	&__header,
	&__footer {
		display: flex;
	}

	&__footer {
		margin-top: auto;
	}

	&__image {
		display: block;
		width: 100px;
		height: 100px;
		margin-right: 12px;
	}

	&__right-content {
		display: flex;
		flex-direction: column;
		padding-bottom: 35px;
	}

	&__title {
		font-size: 14px;
		line-height: 1.14;
		margin-bottom: 15px;
	}

	&__delete-button {
		position: relative;
		width: 18px;
		height: 18px;
		margin-left: 15px;

		&::before,
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: center;
			transform: translate(-50%, -50%);
			height: 1px;
			width: 22px;
			background-color: $c-light-gray;
			content: '';
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__price {
		margin-left: 25px;
	}
}
