.section-cart-total {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 100%;
	font-size: 14px;
	line-height: 2.43;
	padding: 20px;

	@include min-screen(768px) {
		padding: 40px;
	}

	&__name {
		&._big {
			font-weight: 700;
			font-size: 18px;
			line-height: 1.5;
		}
	}

	&__value {
		justify-self: end;
		padding-right: 15px;
	}

	[data-total] {
		font-weight: 700;
		font-size: 18px;
		line-height: 1.5;
	}
}
