.section-promocode {
	padding: 20px;

	@include min-screen(768px) {
		padding: 40px;
	}

	@include min-screen(1024px) {
		max-width: 410px;
	}

	&__title {
		margin-bottom: 30px;
	}

	&__input-wrapper {
		display: flex;
	}

	&__input {
		flex-grow: 1;
		margin-right: 10px;
	}
}
